:root {
  --bg-color: #333;
  --color-dark:  #222;
  --color: #eaeaea;
  --color-med-1: rgb(160, 160, 160);
  --color-med: rgb(128, 128, 128);

  /* Border Colors */
  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  /* Square Colors */
  --color-0: #727272;
  --color-1: #ff802c;
  --color-2: #eacf36;
  --color-3: #4e82f9;
  --color-4: #dc4eff;
  --color-5: #71e764;
  --color-6: #66ccff;
  --color-7: #ef5656;

  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  /* Numbers */
  --cols: 10;
  --rows: 18;
  --tile-size: 20px;
  --border-width: 5px;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
}

.not-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
}

/* Colors */
.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 { /* <div class="color-3" style="--color-3: red;"> */
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}

/* Grid Square */
.grid-square {
  /* border-style: solid; */
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: 50%;
  /* border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color); */ 
}

/* Grid Board */
.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  grid-area: c;
}

/* Next Block */
.next-block {
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: l;
}

/* Score Board */
.score-board-button {
  padding: 0;
  display: block;
  padding: 0.5em;
  border: none;
  border-radius: calc(var(--tile-size) / 2);
  font-size: 1em;
  text-align: center;
  background-color: var(--color-med);
}


/* App */
.App {
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * 10);
  --grid-height: calc(var(--tile-size) * 18);

  width: calc(var(--tile-size) * (4 + 1 + 10 + 1 + 4));
  margin: auto;
  display: grid;
  grid-gap: var(--tile-size) var(--tile-size);
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  align-self: flex-start;
  grid-template-areas: "h h h"
                       "l c r"
                       ". b .";
}

.score-view {
  grid-area: h;
  text-align: left;
  padding: 1em 0;
  font-weight: lighter;
}

.score-view .score {
  font-size: 2em;
  margin: 0;
}

.score-view .score > span {
  font-weight: normal;
}


.score-view .lines-complete {
  margin: 0;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* App-header */
.header {
  background-color:var(--color-dark);
  padding: 20px;
  color: white;
  flex: 1;
}

.footer {
  background-color: var(--color-dark);
  flex: 2;
  margin-top: 2em;
}

/* score-board */
.score-board {
  grid-area: r;
  display: flex;
  flex-direction: column;
}

/* controls */
.controls {
  grid-area: b;
  display: flex;
  flex-direction: row;
}

.control-button {
  --size: calc(var(--tile-size) * 2.5);
  width: var(--size);
  height: var(--size);
  text-align: center;
  display: block;
  border-radius: calc(var(--tile-size) / 2);
  border: none;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-med);
}

.control-button:hover {
  background-color: var(--color);
}

.control-button:active {
  background-color: var(--color-med-1);
}

.control-button:first-child {
  margin-left: 0;
}

.control-button:last-child {
  margin-right: 0;
}

.control-button > img {
  height: 75%;
  width: var(--size);
}

/* Message Popup */
.message-popup {
  position: absolute;
  /* width: calc(var(--tile-size) * 10);
  height: calc(var(--tile-size) * 10); */
  padding: var(--tile-size);
  border-radius: var(--tile-size);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.message-popup.hidden {
  display: none;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.page-footer {
  display: flex;
}

a {
  color: var(--color-3);
  text-decoration: none;
}

a:active {
  color: var(--color-5);
}

a:visited {
  color: var(--color-med-4);
}

.footer-container {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  /* height: 100%; */
}

ul {
  list-style: none;
  padding-left: 0;
}

.row {
  margin-top: 4em;
  margin-left: 4em;
}

@media only screen and (max-width: 600px) {
  :root {
    --tile-size: 18px;
  }

  body {
    overflow: hidden;
  }
}
